{% load static %}
{% load common_filters  %}

<div class="widget filter-widget"
     data-widget-id="{{ widget.id }}"
     hx-get="/dashboard/api/widgets/{{ widget.id }}/sidebar/"
     hx-target="#sidebar"
     hx-swap="innerHTML"
     hx-trigger="click">

  <div class="widget-body">

    <!-- FIELD LABEL -->
    <div class="filter-field">
      {{ widget.widget_data.field }}
    </div>
    
      {% include "dashboard/dropdown_single_value.html" with dropdown_id="filter-dropdown-"|addstr:widget.id selected_value=widget.widget_data.value options=widget.widget_data.options hx_url="/dashboard/api/widgets/"|addstr:widget.id|addstr:"/update/" hx_param_name="value" %}

  </div>

</div>