{% load static %}
{% load common_filters  %}

<div class="sidebar-section">
  <div class="section-header">
    <h5>Widget</h5>
    <i class="fas fa-ellipsis-v section-menu"></i>
  </div>
  <div class="property-row">
    <label class="checkbox-container">
      <input type="checkbox" checked> <span class="checkmark"></span> Title
    </label>
    <label class="checkbox-container">
      <input type="checkbox"> <span class="checkmark"></span> Description
    </label>
  </div>
</div>

<div class="sidebar-section">
  <div class="section-header">
    <h5>Filter</h5>
  </div>
  
   {% include "dashboard/dropdown_single_value.html" with dropdown_id="filter-mode-dropdown-"|addstr:widget.id selected_value=config.mode options=ui.controls.mode.options hx_url="/dashboard/api/widgets/"|addstr:widget.id|addstr:"/update/" hx_param_name="mode" %}

</div>

<div class="sidebar-section">
  <div class="section-header">
    <h5>Fields</h5>
    <div class="header-actions">
      <i class="fas fa-ellipsis-v"></i>
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="field-pill">
    <i class="fas fa-terminal field-icon"></i>
    <span class="field-name">{{ widget.config.field|default:"field_name" }}</span>
    <i class="fas fa-minus remove-field"></i>
  </div>
  
</div>

<div class="sidebar-section">
  <div class="section-header">
    <h5>Parameters</h5>
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="sidebar-section">
  <div class="section-header">
    <h5>Default Value</h5>
  </div>
  <select class="cyber-select">
    <option>All</option>
  </select>
</div>


<script>

</script>