{% load static %}

<!-- SIDEBAR WRAPPER -->
<div class="dashboard-sidebar-wrapper">

    <!-- RESIZER (NOT part of HTMX swap) -->
    <div id="resizer" class="sidebar-resizer"></div>

    <!-- SIDEBAR CORE -->
    <div class="dashboard-sidebar">

        <!-- SCROLL CONTAINER -->
        <div id="sidebar-content"
             class="dashboard-sidebar-content custom-scrollbar"
             hx-target="this"
             hx-swap="innerHTML">

            <h3>Widget Details</h3>

            {% include "dashboard/sidebar/dashboard_sidebar_content.html" %}

        </div>

    </div>

</div>
