/* dashboard/css/dropdown_single_value.css */

/* wrapper for the entire dropdown component */
.dropdown-single-value-generic {
  position: relative;
  width: 100%;
}

/* dropdown trigger button */
.dropdown-single-value-generic-btn {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  background: #090d1e;
  border: 1px solid rgba(0, 195, 255, 0.2);
  color: #e0e3ff;

  padding: 0.5rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8rem;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* left side container for icon + label */
.dropdown-single-value-generic-btn .left {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* styles icon inside left section */
/* .dropdown-single-value-generic-btn .left i {
  color: #00c3ff;
  font-size: 0.75rem;
} */

/* button icon styling */
.btn-icon {
  width: 14px;
  text-align: center;
  color: #00c3ff;;
  font-size: 0.75rem;
}

/* push caret to right */
.dropdown-single-value-generic-btn .caret {
  margin-left: auto;
  font-size: 0.7rem;
  opacity: 0.6;
}

/* hover effect for dropdown button */
.dropdown-single-value-generic-btn:hover {
  border-color: #00c3ff;
  box-shadow: 0 0 6px rgba(0, 195, 255, 0.3);
}

/* dropdown menu container */
.dropdown-single-value-generic-menu {
  width: 100%;
  margin-top: 4px;

  background: #0b1026;
  border: 1px solid rgba(0, 195, 255, 0.2);
  border-radius: 4px;

  padding: 4px 0;
}

/* individual dropdown item */
.dropdown-single-value-generic-menu .dropdown-item {
  font-size: 0.75rem;
  color: #c0c6ff;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.15s ease;
}

/* active state for dropdown item */
.dropdown-single-value-generic-menu .dropdown-item.active {
  background-color: #122c52;
}

/* hover state for dropdown item */
.dropdown-single-value-generic-menu .dropdown-item:hover {
  background: rgba(0, 195, 255, 0.08);
  color: #ffffff
}


/* align dropdown item icon + text */
.dropdown-single-value-generic-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* icon styling inside dropdown items */
.item-icon {
  width: 14px;
  text-align: center;
  color: #cdced6;
  font-size: 0.75rem;
}