/* css/app_layout_new.css */


:root {
  --navbar-height: 56px;
  --app-min-height: 700px;
  --app-main-menu-sidebar-with: 200px;
}

/* =========================================================
   GLOBAL VIEWPORT LOCK (CRITICAL)
========================================================= */

html, body {
  height: 100%;
  margin: 0;

  /* App regions handle their own scrolling */
  overflow: hidden;
}

@media (max-height: 700px) {

  html,
  body {
        /* Allow full page scroll on small screens */
        overflow-y: auto;
    }

  .app-shell {
        /* Prevent excessive vertical compression */
        min-height: var(--app-min-height);
        height: 100%;
    }

  /* .app-body {
      min-height: calc(var(--app-min-height) - var(--navbar-height));
    } */
}



/* =========================================================
   APP SHELL (OUTER STRUCTURE)
========================================================= */

.app-shell {
  height: 100vh;

  display: flex;
  flex-direction: column;

  /* Prevent layout overflow escaping */
  overflow: hidden;
}



/* =========================================================
   NAVBAR (TOP GLOBAL BAR)
========================================================= */

.app-navbar {
  flex: 0 0 56px;

  display: flex;
  align-items: center;

  background: #111;
  color: white;

  border-bottom: 2px solid #444;
  padding: 0 12px;
}



/* =========================================================
   MAIN AREA (UNDER NAVBAR)
========================================================= */

.app-body {
  flex: 1;

  display: flex;

  overflow: hidden;

  /* Required for nested flex scrolling */
  min-height: 0;

  /* Prevent horizontal overflow */
  min-width: 0;

  /* height: 100%; */
}


.app-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  /* Allows child views to create their own scroll containers */
  min-height: 0;

  /* Prevent content from pushing layout width */
  min-width: 0;

  /* App pages do not create browser scroll */
  overflow: hidden;

  /* height: 100%; */
}



/* =========================================================
   LEFT MENU SIDEBAR
========================================================= */

.app-sidebar-left {

  width: var(--app-main-menu-sidebar-with);
  flex: 0 0 var(--app-main-menu-sidebar-with);

  display: flex;
  flex-direction: column;

  /* background: #1a1a1a; */
  background: #0c1223;
  color: white;

  /* border-right: 2px solid #444; */
  border-right: 1px solid rgba(0, 195, 255, 0.30);
  border-bottom: 1px solid rgba(0, 195, 255, 0.30);

  /* Sidebar frame stays fixed, content container handles scrolling. */
  overflow: hidden;

  /* Required inside flex parent */
  min-height: 0;


  box-shadow:
        inset 0 0 0 1px rgba(0,195,255,0.08),
        0 0 10px rgba(0,195,255,0.08);
}


.app-sidebar-left-content {

  flex: 1;

  /* Only sidebar content scrolls */
  overflow-y: auto;

  /* Required inside flex parent */
  min-height: 0;

  padding: 10px;
}
